<div class="card">  
    <div class="card-body">  
      <form [formGroup]="angForm1" novalidate>  
        <div class="form-group">  
          <label class="col-md-4">User Name</label>  
          <input type="text" class="form-control"   
            formControlName="UserName"   
            #UserName />  
        </div>  
        <div *ngIf="angForm1.controls['UserName'].invalid && (angForm1.controls['UserName'].dirty || angForm1.controls['UserName'].touched)" class="alert alert-danger">  
          <div *ngIf="angForm1.controls['UserName'].errors!.required">  
            User name is required.  
          </div>  
        </div>  
        <div class="form-group">  
          <label class="col-md-4">Password </label>  
          <input type="password" class="form-control"   
            formControlName="Password"   
            #Password />
        </div>  
        <div *ngIf="angForm1.controls['Password'].invalid && (angForm1.controls['Password'].dirty || angForm1.controls['Password'].touched)" class="alert alert-danger">  
          <div *ngIf="angForm1.controls['Password'].errors!.required">  
            Password is required.  
          </div>  
        </div>  
          
        <div class="form-group">  
          <button type="submit" class="btn btn-primary"  
          [disabled]="angForm1.pristine || angForm1.invalid" >  
            Login  
          </button>  
        </div>  
      </form>  
    </div>  
  </div>  